.listWallets {
    width: 145px;
    display: flex;
    padding: 6px 15px;
    text-decoration: none;
    background: #dc3545;
    color: #FFF;
    font-weight: 500;
    border-radius: 5px;
    box-shadow: 0px 0px 20px -8px cadetblue;
    margin-right: 10%;
    font-size: large;
    font-family: auto;
}

.listWallets:hover {
    background: #0d7811;
}
.u-button-style {
    transition-property: background-color, color, border-color;
    text-decoration: none;
    margin: 20px;
    font-size: 2.1rem;
    color: black;
    font-family: math;
}
.u-nav-link:focus {
    text-decoration: none;
}
.u-nav-item {
    position: relative;
}
.start{
    display: flex;
    justify-content: end;
}
.u-nav {
    display: flex;
    list-style: none;
    margin: 0px;
    padding: 5px;
    margin-right: 25rem;
    height: 100px;
    align-items: end;
}

.u-align-center {
    text-align: center;
    color: inherit;
    display: flex;
    background: #333333;
    height: 250px;
    justify-content: center;
}
.u-clearfix:after {
    clear: both;
}
p.u-small-text
{
    font-size: 0.875rem;
    margin-top: 0px;
    margin-bottom: 20px;
}
.u-text {
    word-wrap: break-word;
    position: relative;
}
.u-button-style-a {
    transition-property: background-color, color, border-color;
    text-decoration: none;
    margin: 40px;
    font-size: 1.9rem;
    color: #478ac9;
    font-family: math;
}
.addWallet{
    border: 1px solid;
    margin: 30px;
    width: 95%;
    height: 20%;
    display: flex;
    justify-content: end;
    align-items: center;
}
.mt--addWallet{
    display: flex;
    margin-right: auto;
    margin-left: 11%;
    font-size: 30px;
    margin-bottom: 5%;
    font-family: auto;
}
.mt--addWallet2{
    display: flex;
    margin-right: 65%;
    position: absolute;
    font-size: large;
    font-family: auto;
    margin-top: 2%;
}
.text-success{
    display: flex;
    justify-content: center;
    font-size: xx-large;
}

