.addWallet {
    border: 1px solid;
    margin: 30px;
    width: 95%;
    height: 20%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.mt--addWallet {
    display: flex;
    margin-right: auto;
    margin-left: 11%;
    font-size: 30px;
    margin-bottom: 5%;
    font-family: auto;
}

.mt--addWallet2 {
    display: flex;
    margin-right: 60%;
    position: absolute;
    font-size: large;
    font-family: auto;
}

.listWallets {
    width: 145px;
    display: flex;
    padding: 6px 15px;
    text-decoration: none;
    background: #dc3545;
    color: #FFF;
    font-weight: 500;
    border-radius: 5px;
    box-shadow: 0px 0px 20px -8px cadetblue;
    margin-right: 10%;
    font-size: large;
    font-family: auto;
}

.listWallets:hover {
    background: #0d7811;
}

.form__btn {
    border: none;
    background: #dc3545;
    color: #ffffff;
    justify-self: stretch;
    font-family: auto;
    justify-content: center;
    cursor: pointer;
    display: flex;
    margin: auto;
    padding: 5px;
    transition: all 0.3s ease;
    margin: 10px;
    font-size: smaller;
    width: 30%;
    justify-content: center;
    align-items: center;
}


.listWallets:hover {
    background: #0d7811;
}

.div--form {
    position: fixed !important;
    z-index: 2 !important;
    top: 8.3% !important;
    left: 40% !important;
    backdrop-filter: blur(1px) !important;
    width: 50% !important;
    margin-left: 25% !important;
    margin-top: 5% !important;
}
body{
    position: relative;
}
.hidden{

}
.okDone{
    background: #92acc4;
}
.listWalletss {
    width: 145px;
    display: flex;
    padding: 6px 15px;
    text-decoration: none;
    background: darkgray;
    color: #FFF;
    font-weight: 500;
    border-radius: 5px;
    box-shadow: 0px 0px 20px -8px cadetblue;
    margin-right: 10%;
    font-size: large;
    font-family: auto;
}