.header {
    background-color: #28a745;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.content {
    margin-top: 50px;
}

.footer {
    background-color: #343a40;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}
